<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  
  <connectionStrings>
    <add name ="Projekt_PO" connectionString="Server=192.168.137.35;Database=Projekt_PO;Trusted_Connection=True;User ID=Wiktor; Password=wiktor;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>


