<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Projekt_PO" connectionString="Data Source=192.168.137.35;Initial Catalog=Pojekt_PO;Integrated Security=False;User ID=Wiktor;Password=2137" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>